.menu {
  width: 300px;
}
.maincontent {
  display: flex;
}
img {
  height: 200px;
}
li {
  list-style-type: none;
}
a {
  padding: 15px;
  white-space: nowrap;
}
.buybutton {
  background-color: #0b6efc;
  padding: 10px 60px;
  color: white;
  border: none;
  border-radius: 5px;
}
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.title {
  color: gray;
}
